.wrapper
  = render 'shared/side_bar'
  .main
    .main_header
      .main_header_kid
      .main_header_user
      .main_header_menu
    .main_posts
      .main_posts_post
        %p Post.1
        %p Post.2
        %p Post.3
        %p Post.4
        %p Post.5
        %p Post.6
        %p Post.7
        %p Post.8
        %p Post.9
        %p Post.10